# =============================
# Waiter environment template
# =============================

# ---------- Database ----------
ACTIVE_DB=waiter
SURREAL_JWT=

# ---------- Twitch ----------
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

# ---------- Spotify ----------
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# ---------- Discord ----------
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
